<h1 class="font-medium text-lg">Daftar kontak</h1>
<a href="/contact/add" class="p-1 rounded bg-sky-600 text-slate-200 font-semibold text-xs inline-block my-2">Tambah
  kontak</a>
<br>
<% if (msg.length != 0 ) { %>
<div class="inline-block bg-emerald-200 p-2 rounded text-sm font-semibold border border-emerald-400 my-2">
  <%= msg %>
</div>
<% } %>
<table class="w-[56%]">
  <thead class="bg-slate-100 border-b-2 border-slate-300 text-left rounded">
    <tr>
      <th class="w-9 p-3 text-sm tracking-wide">#</th>
      <th class="w-50 p-3 text-sm tracking-wide">Nama</th>
      <th class="p-3 text-sm tracking-wide">No HP</th>
      <th class="w-48 p-3 text-sm tracking-wide">Opsi</th>
    </tr>
  </thead>

  <% contacts.forEach((contact, i) => { i++ %>
  <tr>
    <td class="p-3 text-sm"><%= i %></td>
    <td class="p-3 text-sm"><%- contact.nama %></td>
    <td class="p-3 text-sm"><%- contact.noHp %></td>
    <td class="p-3 text-sm -tracking-wide">
      <a href="/contact/<%= contact.nama %>"><button
          class="bg-emerald-500 px-2 py-1 text-gray-100 text-xs font-normal rounded-lg">Detail</button></a>
      <a href="/contact/edit/<%= contact.nama %>"><button
          class="bg-yellow-500 px-2 py-1 text-gray-100 text-xs font-normal rounded-lg">Edit</button></a>
      <form action="/contact?_method=DELETE" method="POST" class="inline">
        <input type="hidden" name="nama" value="<%= contact.nama %>">
        <button type="submit" onclick="return confirm(`Yakin hapus?`)"
          class="bg-red-500 px-2 py-1 text-gray-100 text-xs font-normal rounded-lg">Hapus</button>
      </form>
    </td>
  </tr>
  <% }) %>
</table>